@model IEnumerable<GarageOnWheelsMVC.Models.ViewModel.OrderViewModel>

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

<style>
    table.dataTable thead th {
        background-color: #95c544;
        color: white;
    }

    .dataTables_filter {
        margin-bottom: 15px;
    }
</style>

<div class="mb-2">
    <i class="fas fa-hourglass-half" title="Pending" style="font-size: 14px; color: #f39c12;"></i> Pending &nbsp; &nbsp;
    <i class="fas fa-check-circle" title="Completed" style="font-size: 14px; color: #2ecc71;"></i> Completed &nbsp; &nbsp;
    <i class="fas fa-eye" title="View" style="font-size: 14px; color: blue;"></i> View
</div>


<div class="container mt-4">
    <table class="table table-bordered table-striped" id="orderTable">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Order Date</th>
                <th class="text-center">Total Amount</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="text-center">
                        @order.OrderDate.ToString("dd-MM-yyyy")
                    </td>
                    <td class="text-center">
                        @order.TotalAmount.ToString("C")
                    </td>
                    <td class="text-center">
                        @switch (order.Status)
                        {
                            case OrderStatus.Pending:
                                <div>
                                    <i class="fas fa-hourglass-half" title="Pending" style="font-size: 14px; color: #f39c12;"></i>
                                </div>
                                break;
                            case OrderStatus.Completed:
                                <div>
                                    <i class="fas fa-check-circle" title="Completed" style="font-size: 14px; color: #2ecc71;"></i>
                                </div>
                                break;
                        }
                    </td>
                    <td class="text-center">
                        @switch (order.Status)
                        {
                            case OrderStatus.Completed:
                                <a asp-action="ViewOrderDetails" asp-route-id="@order.Id" title="View">
                                    <i class="fas fa-eye"></i>
                                </a>
                                break;

                            case OrderStatus.Pending:
                                <a asp-action="EditOrderByCustomer" asp-controller="Order" asp-route-id="@order.Id" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <span>|</span>
                                    
                                <a asp-action="Delete" asp-controller="Order" asp-route-id="@order.Id" data-id="@order.Id" class="ms-2 text-danger deleteLink" title="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">

                <form id="deleteForm" asp-action="Delete" method="post">
                    <input type="hidden" id="userIdToDelete" name="id" value="" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#orderTable').DataTable({
            "pageLength": 5,
            "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
            "dom": '<"top"f>rt<"bottom"lp><"clear">',
            "columnDefs": [
                { "orderable": false, "targets": [-2, -1] }
            ]
        });

        var message = '@TempData["Successful"]';
        if (message) {
            toastr.success(message);
        }

        var orderIdToDelete = 0;

        $('.deleteLink').on('click', function (e) {
            e.preventDefault();
            var userId = $(this).data('id');
            $('#userIdToDelete').val(userId);

            // Show the modal
            $('#deleteModal').modal({
                backdrop: 'static',
                keyboard: false
            }).modal('show');
        });
    });
</script>
