@model GarageOnWheelsMVC.Models.ViewModel.GarageListViewModel

@{
    ViewData["Title"] = "Garage Details";    

}
    
<div class="container mt-5">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row mb-3">
        <div class="col">
            <a class="btn btn-secondary" href="@Url.Action("Save", "Garage")"> + GARAGE</a>
        </div>
    </div>
    <div id="userTable" class="table-responsive">
        @Html.Partial("_GarageListPartial", Model)

    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (var i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item @(Model.PagingInfo.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("GetAllGarages", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>