@model GarageOnWheelsMVC.Models.ViewModel.CreateOrderViewModel

@{
    ViewData["Title"] = "Create Appointment";
}

<h2 class="text-center mb-4">Create Order</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="createOrderForm" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="GarageId" class="form-label">Garage<span class="text-danger fw-bold">*</span></label>
                    <select id="garage" asp-for="GarageId" class="form-select" required>
                        <option value="">Select Garage</option>
                    </select>
                    <span asp-validation-for="GarageId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ServiceDetails" class="form-label">Service Details<span class="text-danger fw-bold">*</span></label>
                    <textarea asp-for="ServiceDetails" class="form-control" rows="4" placeholder="Enter details of the service required" required></textarea>
                    <span asp-validation-for="ServiceDetails" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageUploadByCustomer" class="form-label">Add Attachments<span class="text-danger fw-bold">*</span></label>
                    <input type="file" id="imageUpload" name="ImageUploadByCustomer" class="form-control" multiple accept=".jpg,.png,.gif" required />
                    <span asp-validation-for="ImageUploadByCustomer" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6">
                        <a href="@Url.Action("Dashboard", "Account")" class="btn btn-warning w-100">Cancel</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary w-100">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            var role = '@(User.IsInRole("Customer") ? "Customer" : "GarageOwner")';
            var $garageSelect = $('#garage');
            var userCityId = '@User.FindFirst("cityId")?.Value';

            if (role === "Customer") {
                console.log(userCityId);
                $.getJSON('@Url.Action("GetGaragesByCityId", "Garage")', { cityId: userCityId })
                    .done(function (garages) {
                        garages.forEach(function (garage) {
                            console.log(garage);
                            $garageSelect.append(
                                $('<option>', {
                                    value: garage.Id,
                                    text: `${garage.Name} (${garage.Email})`        
                                })
                            );
                        });
                    })
                    .fail(function () {
                        alert("An error occurred while fetching garages. Please try again later.");
                    });
            }
            else
            {            
                $.getJSON('@Url.Action("GetGaragesBySpecificUserId", "Garage")')
                    .done(function (garages) {
                        garages.forEach(function (garage) {
                            $garageSelect.append(
                                $('<option>', {
                                    value: garage.Id,
                                    text: `${garage.Name} (${garage.Email})`
                                })
                            );
                        });
                    })
                    .fail(function () {
                        alert("An error occurred while fetching garages. Please try again later.");
                    });
            }


            $('#createOrderForm').submit(function (event) {
                event.preventDefault(); 

                var form = $('#createOrderForm')[0];
                var formData = new FormData(form); 

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Order")',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        window.location.href = response.redirectUrl;
                    },
                    error: function (xhr) {
                        var errorMessage = xhr.responseText || "An error occurred. Please try again.";
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>

    <script>
        ClassicEditor
            .create(document.querySelector('#ServiceDetails'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
